{% extends "base.html.twig" %}
{% block title %}
    Entrés stocks
{% endblock %}
{% import "Partials/macros.html.twig" as macro %}
{% block body %}
{{ macro.breadcrumb('Transaction','Entre') }}
    <div class="container">

    </div>
{% endblock %}